<div class="flex flex-col w-ful">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full">
                    <tbody>
                        <!-- Product 1 -->
                        <tr class="bg-white border-b">
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                Username
                            </td>
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                {{username}}
                            </td>
                        </tr>
                        <!-- Product 2 -->
                        <tr class="bg-white border-b">
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                Email
                            </td>
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                {{email}}
                            </td>
                        </tr>
                        <!-- Product 2 -->
                        <tr class="bg-white">
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                Full Name
                            </td>
                            <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                {{full_name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>