<tr
    class="border-b odd:bg-white even:bg-gray-50">
    <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
        {{position}}
    </td>
    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
        {{full_name}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{birthyear}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{city}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{club}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{time}}
    </td>
</tr>