<tr
    class="border-b odd:bg-white even:bg-gray-50">
    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
        {{event_name}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap">
        {{position}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap">
        {{category}}
    </td>
    <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap">
        {{time}}
    </td>
    <td class="py-4 px-6 text-sm whitespace-nowrap">
        <a href="{{ranking_url}}" class="text-blue-600 underline">View Ranking</a>
    </td>
</tr>